header {
    /* debug */
    /* background-color: red;
    height: 100px; */
}

header img {
    width: 50px;
}

main {
    margin-top: 50px;
}


/* parte to do  */
.todo-title {
    padding: 10px;
    padding-left: 20px;
    background-color: #f7f7f7;
    border-bottom: 2px solid lightgrey;
}

.todo-list {
    margin: 20px;
}

/* parte faq */
.faq-title {
    padding: 10px;
    padding-left: 20px;
    background-color: #f7f7f7;
    border-bottom: 2px solid lightgrey;
}